--extra-index-url https://download.pytorch.org/whl/cpu
aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-doc
annotated-types
anthropic
anyio
appdirs
async-timeout
attrs
bcrypt
blinker
build
cachetools
certifi
charset-normalizer
chromadb
click
coloredlogs
dataclasses-json
datasets
Deprecated
dill
diskcache
distro
docstring_parser
durationpy
exceptiongroup
fastapi
fastembed
filelock
flatbuffers
frozenlist
fsspec
gitdb
GitPython
googleapis-common-protos
greenlet
grpcio
h11
hf-xet
httpcore
httptools
httpx
httpx-sse
huggingface_hub
humanfriendly
idna
importlib_metadata
importlib_resources
instructor
Jinja2
jiter
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
kubernetes
langchain
langchain-anthropic
langchain-community
langchain-core
langchain-huggingface
langchain-openai
langchain-text-splitters
langsmith
limits
markdown-it-py
MarkupSafe
marshmallow
mdurl
mmh3
mpmath
multidict
multiprocess
mypy_extensions
narwhals
nest-asyncio
networkx
numpy
oauthlib
onnxruntime
openai
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
orjson
overrides
packaging
pandas
pillow
propcache
protobuf
pyarrow
pybase64
pydantic
pydantic-settings
pydantic_core
pydeck
Pygments
PyMuPDF
PyPika
pyproject_hooks
python-dateutil
python-dotenv
pytz
PyYAML
ragas
rank-bm25
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rich
rpds-py
safetensors
scikit-learn
scikit-network
scipy
sentence-transformers
shellingham
six
slowapi
smmap
sniffio
SQLAlchemy
starlette
streamlit
sympy
tenacity
threadpoolctl
tiktoken
tokenizers
toml
tomli
torch
tornado
tqdm
transformers
typer
typing-inspect
typing-inspection
typing_extensions
tzdata
urllib3
uuid_utils
uvicorn
uvloop
watchfiles
websocket-client
websockets
wrapt
xxhash
yarl
zipp
zstandard
